@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    height: 100vh;
    width: 100vw;
}
@media only screen and (max-width: 768px) {
    nav{

        flex-direction: column;
        align-items: center;
    }
}
nav{
    display: flex;
    align-items: center;
    padding: 50px 0;
}

nav img{
    width: 70px;
    height: 25px;
    margin-left: 5%;
    color: black;
}
@media only screen and (max-width: 768px) {
    body{
        height: 100%;
        width: 100%;
    }
    nav{
        height: fit-content;
    }
    
    .navbar-line{
        display: none;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        padding-top: 10px;
    }
    .main-image{
        opacity:0.2;
        width: inherit;
    }
    .right-side-box{
        margin-top: 20%;
        justify-content: space-around;
        align-items: center;
        width: fit-content;
        padding: 10px 300px ;
        
    }
    .text-box{
       position: absolute;
    }
    .right-side-box p{
       /* position: absolute; */
       padding-left: 450px;
    }
    .btn{
        margin-top: 30%;
        position: absolute;
        margin-right: -80px;
    }

    .arrow{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .arrow i{
        position: absolute;
        bottom: 0;
        margin-left: -10px;
        margin-top: 72px;
        
        
    }
    
}
nav ul{
    display: flex;
    align-items: center;
}

.navbar-line{
    width: 20%;
    height: 1px;
    background-color: black;
    margin-left: 28%;
}

nav ul li{
    text-transform: capitalize;
    list-style: none;
    margin: 0 25px;
    font-size: 12px;
    color: #919191;
}

.navbar li:first-child{
    color: black;
}

.main-image{
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100vh;
    width: 400px;
}

.right-side-box{
    position: absolute;
    right: 0;
    display: flex;
    width: 65%;
    top: 15%;
}

.upper-text, .lower-text{
    font-size: 5rem;
    font-family: 'Merriweather';
}

.upper-text{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.lower-text{
    color: #333333;
    margin-left: 70px;
}
.social-icon li{
    list-style: none;
    margin: 25px 0;
}
.right-side-box p{
    color: #858585;
    font-size: 20px;
    font-weight: 500;
    padding-top: 130px;
    margin: 0 25px;
}

.social-icon{
   
    margin-left: 24%;
}



.btn{
    
    padding: 15px 40px;
    background-color: #333333;
    color: white;
    position: absolute;
    right: 18%;
    top: 48%;
    border: none;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .down-side{
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        /* border: 2px solid red; */
        position: relative;
        bottom: 0;
        height: 200px;

    }
}

.down-side{
    position: absolute;
    right: 15%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}

.second-image{
    width: 300px;
    height: 130px;
    margin-bottom: -10%;
}

.options li{
    text-transform: capitalize;
    list-style: none;
    font-size: 13px;
    font-weight: 500;
    color: #828282;
    margin: 30px 0;
}

.options li:nth-child(1){
    color: black;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: #828282;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
}

.first-dot{
    background-color: black;
}

.line{
    position: absolute;
    width: 1px;
    height: 220px;
    background-color: #828282;
    bottom: 0;
    left: 4px;
    z-index: -1;
}

.second-img i{
    font-size: 2rem;
}

.second-img p{
    font-size: 1em;
    font-weight: 500;
    margin: 15px 0;
}

.arrow-line{
    height: 90px;
    width: 4px;
    background-color: black;
    position: absolute;
    
    left: 90%;
}

.arrow i{
    font-size: 30px;
    position: absolute;
    top: 78%;
    left: 88.6%;
}